.menu_wrap {
  top:0;
  left:0;
  z-index: 1;
  position: fixed;

  .toggler{
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    position: absolute;

    @include generate_mqs((width, hamburger), (height, hamburger));
  } // .toggler

  .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
  }

  .toggler:checked + .hamburger > div:before,
  .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
  }

  .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
  }

  .toggler:checked ~ .menu {
    transform: scale(1);

    @include generate_mqs(
      (top, menu-top), 
      (left, func menu-width calc(calc(100vw - menu-width) / 2)));

    // Over-ride the left side if on a small device
    @include breakpoint(small)
    {
      left: 0;
    } // @include...
  } // .toggler:checked

  .toggler:checked ~ .hamburger {
    background: get-color(hamburger-opaque);
  }

  .hamburger {
    top: 0;
    left: 0;    
    z-index: 1;
    display: flex;
    position: absolute;
    visibility: visible;
    align-items: center;
    justify-content: center;

    @include generate_mqs((width, hamburger), (height, hamburger), (padding, hamburger-padding));

    div {
      width: 100%;
      height: 2px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      background-color:get-color(body);
      transition: all $menu-speed ease;
    }
    
      div:before, div:after {
      content:'';
      top: -8px;
      z-index: 1;
      width: 100%;
      height: 2px;
      position: absolute;
      background: inherit;
    }
    
    div:after {
      top: 8px;
    } // div:after
  } // .hamburger
} // .menu_wrap

.menu {
  position: absolute;
  color: get-color(primary);
  
  background: get-color(primary);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.45);
 
  top: 0;
  transform: scale(0);
  transition: all $menu-speed ease;

  @include generate_mqs(
    (left, func menu-width calc(-1 * menu-width)),
    (width, menu-width), 
    (font-size, main-font), 
    (border-radius, border-radius));

  ul {
    display: flex;
    margin: 5px 0;
    flex-direction: column;
    justify-content: start;
    
    @include breakpoint(medium)
    {
      margin: 15px 0;
      flex-direction: row;
      justify-content: center;
    }

    list-style: none;
    
    li {
      margin: 0.5rem 0.2rem 0 0.2rem;
      
      text-align: left;
      @include breakpoint(medium)
      {
        text-align: center;
      }
      
      &:hover ul {
        display: flex;
      } // &:hover ul

      a {
        text-decoration: none;
        padding: 0.5rem 1rem;

        @include generate_mqs((line-height, menu-line-height));

        &:hover {
          // opacity: 50%;
          background: darken(get-color(primary), 5%);
          @include generate_mqs((border-radius, border-radius));
        } // &:hover

        &:link,
        &:visited {
          color: get-color(menu);
        } // &:link...

        &:active{
          color:gold;
        }
      } // a
    } // li
  } // ul

  .submenu {
    flex-direction: column;
    
    list-style: none;
    margin: 0 0.2rem;

    @include generate_mqs((font-size, sub-font), (line-height, submenu-line-height));

    display: flex;
    @include breakpoint(medium)
    {
      display: none; // display gets set to 'flex' in the main li:hover
    }

    li {
      margin: 0.5rem 0.5rem;
      
      text-align: left;
      @include breakpoint(medium)
      {
        margin: 0.3rem 0.2rem;
        text-align: center;
      }

      a {
        padding: 0.3rem 1rem;
        text-decoration: none;

        @include generate_mqs((medium, submenu-line-height));

        &:hover {
          color: lighten(get-color(menu), 50%);
        } // &:hover

        &:active{
          color:gold;
        } // &:active
      } // a
    } // li
  } // .submenu
} // .menu
