* {
  box-sizing: border-box;
}

body {
  height: 90vh;
  color: black;
  /* font-size: 70%; */
  margin: 10vh 0;
  text-align: center;
  font-family: "Righteous", cursive;
  background-color: beige;
}

.maingrid {
  width: 75%;
  display: grid;
  margin: 0 auto;
  padding: 5px 5px;
  justify-content: center;
  border: 1px solid black;
  outline: 5px solid white;
  grid-template-columns: 20% 50%;
  grid-template-rows: 10vh 80% 5vh;
  grid-template-areas:
    "side hd"
    "side cnt"
    "side ft";
}

.hd {
  grid-area: hd;
  align-self: center;
}

.cnt {
  grid-area: cnt;
  justify-self: center;
}

.ft {
  grid-area: ft;
  font-size: 60%;
  font-style: italic;
  align-self: center;
}

.side{
  grid-area: side;
  background-color: green;
}

li {
  text-align: left;
}
